.container {
    display: flex;
    justify-content: center;
}

section {
    width: 600px;
    height: 200px;
    padding: 30px;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    background-color: #eee;
}